

*{
    margin: 0;
    padding: 0;
}
.container{
    height:  100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: #82ee78; */
    background-image: linear-gradient(to right bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    
}
h1{
    font-size: 55px;
    position: absolute;
    text-shadow: 2px 2px 5px rgb(254, 254, 255);
    top: 15%;
}
textarea{
    width:  600px;
    height: 300px;
    border:solid 2px black;
    box-shadow: 3px 3px 20px;
    font-size: 20px;
    padding: 20px;
}
button{
    position: absolute;
    bottom: 15%;
    left: 45%;
    height: 50px;
    width: 150px;
    -webkit-text-fill-color: white;
    border-radius: 5px;
    font-size: 25px;
    text-shadow: 2px 2px 10px rgb(35, 182, 235);
    /* box-shadow: 4px 4px 15px black; */
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    
}